@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
  url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
  url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin:0;
  font-family: "Open sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #16121d;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.about-self {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.about-self-left-box {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  color: #fff;
  margin-bottom: 50px;
}

.my-profession {
  margin: 0;
  padding: 10px;
}

.name {
  margin: 20px 0 0 0;
  text-align: center;
}

.my-pictures {
  border-radius: 50%;
  box-shadow: 0 0 0 2px #16121d;
}

.about-self-right-box {
  min-width: 320px;
  border-radius: 8% 10% 10% 7% / 43% 0% 0% 42%;
  background-color: #16121d;
  border: 2px solid rgb(143, 141, 141);
  text-align: center;
  margin-left: 50px;
  padding-right: 10px;
}

.circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-color: #16121d;
  z-index: -1;
}

.ruler {
  width: 20px;
  height: 105px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right,#16121d,#3a5d2b, #9bdd96);
  transition: 1s ease;
  animation: rotate 800s  infinite;
  position: absolute;
  left: 95px;
  top: 0;
  z-index: -2;
}

.img-box {
  width: 198px;
  height: 198px;
  background-color: #16121d;
  border-radius: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    transform-origin: bottom center;
  }

  to {
    transform: rotate(36000deg);
    transform-origin: bottom center;
  }
}

.social-pages {
  color: #fff;

}


.social-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 20px;
}

.social-list-item {

}

.social-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: green;
  vertical-align: baseline;
  display: flex;
  align-items: left;
  padding: 15px;
  justify-content: left;
  transition: 0.3s ease;
}

.social-link::before {
  width: 40px;
  height: 40px;
  display: inline-block;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 15px;
  border-radius: 10px;
}

.email::before {
  background-image: url(../img/email.png);
}

.email {
  width: 500px;
}

.telegram-link::before {
  background-image: url("../img/telegram.png");
}

.tel::before {
  background-image: url("../img/call.png");
  width: 40px;
  height: 30px;
}

.social-link:hover {
  color: rgb(27, 172, 172);
  transform: translate(30px);

}

.skills-text {
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.my-works {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
  flex-wrap: wrap;
}

.my-works-now {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 500px;
  background-image: linear-gradient(to right bottom, red, #16121d, #16121d, green);
  margin: 20px;
}

.local-box {
  width: 95%;
  height: 97%;
  background-color: #16121d;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.my-site-list {
  list-style-type: none;
  padding: 0%;
  margin-top: 30px;
}

.site-list-item {
  padding: 10px;
}

.site-link {
  text-decoration: none;
  padding: 10px;
  color: #fff;
  transition: 0.3s ease;
  line-height: 18px;
}

.site-link:hover {
  text-shadow: 5px 5px 5px red;
  font-size: 18px;
}

.site-footer {
  text-align: center;
  margin: 60px 0;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  font-weight: 500;
  font-size: 20px;
  white-space: nowrap;
}

.footer-text::before {
  width: 430px;
  height: 3px;
  display: inline-block;
  content: "";
  background-color: red;
  margin-right: 10px;
}

.footer-text::after {
  width: 430px;
  height: 3px;
  display: inline-block;
  content: "";
  background-color: red;
  margin-left: 15px;
}


.symbol {
  font-size: 20px;
  margin-right: 5px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
